BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Attach
DerivePointerAlignment: false
PointerAlignment: Left
SpaceAfterCStyleCast: true
IncludeBlocks: Regroup
